/crd/gcp/CDS-Library.zip
/.env
/applications/crd/k8s/config.yaml
/shared/.env
/applications/crd-request-generator/k8s/config.yaml
/applications/test-ehr/k8s/config.yaml
/applications/auth/k8s/deployment.yaml
/applications/crd/k8s/deployment.yaml
/applications/crd-request-generator/k8s/deployment.yaml
/applications/test-ehr/k8s/deployment.yaml
/applications/crd/k8s/serviceaccount.yaml
/applications//dtr/k8s/deployment.yaml
/applications/prior-auth/k8s/deployment.yaml
/applications/CDS-Library/CDS-Library.zip
/jobs/.env
/artefacts/
/applications_org/
/utils/
